# Ignore build output
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# IDE-specific files (Visual Studio and Visual Studio Code)
.vscode/
.vs/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.old
*.orig
*.rej
*.suo
*.cache
*.ilk
*.pch
*.class

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Dotnet-specific files
*.pidb
*.mdb
*.opendb
*.suo
*.pdb

# NuGet-specific files
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json

# Rider-specific files
.idea/
.idea_modules/

# JetBrains-specific files
*.iml

# Resharper specific files
_ReSharper/
*.DotSettings.user
